/*
    variables.scss
*/

$color-primary: #2c2a4a;    // Tamno ljubičasta
$color-secondary: #7a6ff0;  // Svijetlo ljubičasta
$color-accent: #00d1b2;     // Zelenkasta plava
$color-background: #1a192b; // Tamna pozadina
$color-text: #e0e0e0;       // Neutralni tekst
$color-muted: #a3a3a3;      // Mutirani (sekundarni) tekst